<div class="list-header">
  <h1>Habits</h1>

  <nav>
    <a routerLink="/habits/new" class="uk-button uk-button-primary"
      >New Habit</a
    >
  </nav>
</div>

<main>
  <section>
    <app-habits-table
      [models]="inCompleteHabits"
      (changeState)="completeHabit($event)"
    ></app-habits-table>
  </section>

  <section *ngIf="completedHabits.length > 0">
    <h2>Completed Habits</h2>
    <app-habits-table
      [models]="completedHabits"
      (changeState)="uncompleteHabit($event)"
    ></app-habits-table>
  </section>
</main>
