<h1>Habit Tracker</h1>

<section>
  <nav>
    <a routerLink="/habits/new" class="uk-button uk-button-default"
      >New Habit</a
    >
  </nav>
</section>

<section>
  <table class="uk-table">
    <thead>
      <tr>
        <th>Completed</th>
        <th>Name</th>
        <th>Description</th>
        <th>Anti Habit</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of inCompleteHabits">
        <td>
          <input
            (change)="completeHabit(model)"
            type="checkbox"
            class="uk-checkbox"
          />
        </td>
        <td>{{ model.Name }}</td>
        <td>{{ model.Description }}</td>
        <td>
          <fa-icon [icon]="model.AntiHabit ? faCheck : faXmark"></fa-icon>
        </td>
        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button-small uk-button-primary"
          >
            View
          </a><br/>

          <a
            [routerLink]="['/habits', model.Id, 'delete']"
            class="uk-button-small uk-button-danger"
          >
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<hr>

<section>
  <h2>Completed Habits</h2>

  <table class="uk-table uk-text-muted">
    <thead>
      <tr>
        <th>Completed</th>
        <th>Name</th>
        <th>Description</th>
        <th>Anti Habit</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of completedHabits">
        <td>
          <input
            (change)="uncompleteHabit(model)"
            type="checkbox"
            class="uk-checkbox"
          />
        </td>
        <td>{{ model.Name }}</td>
        <td>{{ model.Description }}</td>
        <td>
          <fa-icon [icon]="model.AntiHabit ? faCheck : faXmark"></fa-icon>
        </td>
        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button-small uk-button-primary"
            >View</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>

