<h1>Goal: {{ model?.Name }}</h1>

<button
  class="uk-button-secondary uk-button uk-margin-small-right"
  [routerLink]="model?.EditUrl"
>
  Edit: {{ model?.Name }}
</button>
<button class="uk-button-danger uk-button" [routerLink]="model?.DeleteUrl">
  Delete: {{ model?.Name }}
</button>

<p>
    {{ model?.Description }}
</p>

<p>
    Complete By: {{ model?.CompleteBy | date }}
</p>

<p>Associated Habits:</p>
<ul>
    <li *ngFor="let habit of associatedHabits">
        <a [routerLink]="habit.ViewUrl">
            {{ habit.Name }}
        </a>
    </li>
</ul>

<p>Associated Tasks:</p>
<ul>
    <li *ngFor="let task of associatedTasks">
        <a [routerLink]="task.ViewUrl">
            {{ task.Name }}
        </a>
    </li>
</ul>
