@import "node_modules/uikit/src/less/uikit.theme.less";

// I make the checkboxes bigger because they are hard to see and click on mobile
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;

  // the default ui kit border color is #ccc!
  // because I can barely see the border, I'm changing it to a color with more contrast
  border-color: #999;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .hide-in-mobile {
    display: none;
  }
}
