@if (creating) {
  <h1>Create Goal</h1>
} @else {
  <h1>Edit Goal: {{ model.Name }}</h1>
}

<form>
  <label class="uk-form-label">
    Goal Name
    <input name="name" class="uk-input" type="text" [(ngModel)]="model.Name" />
  </label>

  <label class="uk-form-label">
    Goal Description
    <textarea
      name="description"
      class="uk-textarea"
      rows="10"
      [(ngModel)]="model.Description"
    ></textarea>
  </label>

  <label for="complete-by-input" class="uk-form-label">
    Complete By
    <input type="date" class="uk-input" (change)="updateCompleteBy($event)" />
  </label>

  <button
    type="submit"
    class="uk-button uk-button-primary uk-margin-top"
    (click)="submitForm()"
  >
    {{ creating ? "Create" : "Update" }} Goal
  </button>
</form>
