<div class="list-header">
  <h1>Tasks</h1>

  <nav>
    <a routerLink="/tasks/new" class="uk-button uk-button-primary">New Task</a>
  </nav>
</div>

<section class="incompleteTasks.length > 0">
  <app-tasks-table
    [models]="incompleteTasks"
    (changeState)="completeTask($event)"
  ></app-tasks-table>
</section>

<section *ngIf="completedTasks.length > 0">
  <h2>Completed Tasks</h2>

  <app-tasks-table
    [models]="completedTasks"
    (changeState)="updateTask($event)"
  ></app-tasks-table>
</section>
