<h1>All Tasks</h1>

<section>
  <nav>
    <a routerLink="/tasks/new" class="uk-button uk-button-default">New Task</a>
  </nav>
</section>

<section>
  <h2>Remaining Tasks</h2>
  <table class="uk-table">
    <thead>
      <tr>
        <th>Completed</th>
        <th>Name</th>
        <th>Description</th>
        <th>Importance</th>
        <th>Complete By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of incompleteTasks">
        <td>
          <input
            [(ngModel)]="model.Completed"
            (change)="updateTask(model)"
            type="checkbox"
            class="uk-checkbox"
          />
        </td>
        <td>{{ model.Name }}</td>
        <td>
          <ng-container *ngIf="model.Description; else defaultDescription">
            {{ model.Description }}
          </ng-container>
        </td>
        <td>{{ model.ImportanceHuman }}</td>
        <td>
          <ng-container *ngIf="model.CompleteBy; else defaultCompleteBy">
            {{ model.CompleteBy | date: 'shortDate' }}
          </ng-container>
        </td>
        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button-small uk-button-primary"
            >View</a
          ><br/>

          <a
            [routerLink]="['/tasks', model.Id, 'delete']"
            class="uk-button-small uk-button-danger"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>

<hr>

<section>
  <h2>Completed Tasks</h2>

  <table class="uk-table uk-text-muted">
    <thead>
      <tr>
        <th>Completed</th>
        <th>Name</th>
        <th>Description</th>
        <th>Importance</th>
        <th>Complete By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of completedTasks">
        <td>
          <input
            [(ngModel)]="model.Completed"
            (change)="updateTask(model)"
            type="checkbox"
            class="uk-checkbox"
          />
        </td>
        <td>{{ model.Name }}</td>
        <td>
          <ng-container *ngIf="model.Description; else defaultDescription">
            {{ model.Description }}
          </ng-container>
        </td>
        <td>
          {{ model.ImportanceHuman }}
        </td>
        <ng-container *ngIf="model.CompleteBy; else defaultCompleteBy">
          {{ model.CompleteBy | date: 'shortDate' }}
        </ng-container>
        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button-small uk-button-primary"
            >View</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #defaultDescription>
  <i>No description</i>
</ng-template>

<ng-template #defaultCompleteBy>
  <i>No date set</i>
</ng-template>
