<h1>Goals</h1>

<section>
  <nav>
    <a routerLink="/goals/new" class="uk-button uk-button-default">New Goal</a>
  </nav>
</section>

<section>
  <table class="uk-table">
    <thead>
      <tr>
        <th>Completed</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of goals">
        <td>
          <input
            [(ngModel)]="model.Completed"
            (change)="updateGoal(model)"
            type="checkbox"
            class="uk-checkbox"
          />
        </td>
        <td>{{ model.Name }}</td>
        <td>{{ model.Description }}</td>
        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button-small uk-button-primary"
            >View</a
          >
          <a
            [routerLink]="['/goals', model.Id, 'delete']"
            class="uk-button-small uk-button-danger"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>
