<h1>Edit: {{ model.Name }}</h1>

<form #ngForm action="">
  <label for="new-task-input" class="uk-form-label">Goal Name</label>
  <input
    [(ngModel)]="model.Name"
    id="new-task-input"
    name="new-task-input"
    class="uk-input"
    type="text"
  />

  <label for="new-task-description" class="uk-form-label">
    Goal Description
  </label>
  <textarea
    [(ngModel)]="model.Description"
    id="new-task-description"
    name="new-task-description"
    class="uk-textarea"
    rows="10"
  ></textarea>

  <label for="complete-by-input" class="uk-form-label">Complete By</label>
  <input
    type="date"
    name="complete-by-input"
    id="complete-by-input"
    class="uk-input"
    (change)="updateCompleteBy($event)"
    [value]="model.CompleteBy"
  />

  <button
    (click)="submitForm()"
    type="submit"
    class="uk-button uk-button-secondary uk-margin-top"
  >
    Update Goal
  </button>
</form>
