@if (creating) {
  <h1>Create a New Task</h1>
}
@else {
  <h1>Edit Task: {{ model.Name }}</h1>
}

<form #ngForm action="">
  <label for="new-task-input" class="uk-form-label">Task Name</label>
  <input
    [(ngModel)]="model.Name"
    id="new-task-input"
    name="new-task-input"
    class="uk-input"
    type="text"
  />

  <label for="new-task-description" class="uk-form-label">
    Task Description
  </label>
  <textarea
    [(ngModel)]="model.Description"
    id="new-task-description"
    name="new-task-description"
    class="uk-textarea"
    rows="10"
  ></textarea>

  <label for="importance-input" class="uk-form-label">
    Importance
  </label>
  <select
    id="importance-input"
    name="importance-input"
    class="uk-input"
    (change)="updateImportance($event)"
  >
    <option value="1" selected>Low</option>
    <option value="2">Low-Medium</option>
    <option value="3">Medium</option>
    <option value="4">Medium-High</option>
    <option value="5">High</option>
  </select>

  <label for="associated-goal" class="uk-form-label">Associated Goal</label>
  <select
    name="associated-goal"
    id="associated-goal"
    class="uk-input"
    [(ngModel)]="model.Goal"
  >
    <ng-container *ngFor="let goal of goals$ | async">
      <option [value]="goal.Id">{{ goal.Name }}</option>
    </ng-container>
  </select>

  <label for="complete-by-input" class="uk-form-label">Complete By</label>
  <input
    type="date"
    name="complete-by-input"
    id="complete-by-input"
    class="uk-input"
    (change)="updateCompleteBy($event)"
  />

  <app-tags-input [(model)]="model.Tags"></app-tags-input>

  <button
    (click)="submitForm()"
    type="submit"
    class="uk-button uk-button-primary uk-margin-top"
  >
    {{ creating ? 'Create' : 'Update'}} Task
  </button>
</form>
