@if (creating) {
  <h1>Create a New Task</h1>
} @else {
  <h1>Edit Task: {{ model.Name }}</h1>
}

<form>
  <label class="uk-form-label">
    Task Name
    <input name="name" class="uk-input" type="text" [(ngModel)]="model.Name" />
  </label>

  <label class="uk-form-label">
    Task Description
    <textarea
      name="description"
      class="uk-textarea"
      rows="10"
      [(ngModel)]="model.Description"
    ></textarea>
  </label>

  <label class="uk-form-label">
    Importance
    <select
      class="uk-select"
      (change)="updateImportance($event)"
    >
      <option value="1" selected>Low</option>
      <option value="2">Low-Medium</option>
      <option value="3">Medium</option>
      <option value="4">Medium-High</option>
      <option value="5">High</option>
    </select>
  </label>

  <label class="uk-form-label">
    Associated Goal
    <select name="associated-goal" class="uk-select" [(ngModel)]="model.Goal">
      <ng-container *ngFor="let goal of goals$ | async">
        <option [value]="goal.ClientId">{{ goal.Name }}</option>
      </ng-container>
    </select>
  </label>

  <label class="uk-form-label">
    Complete By
    <input
      type="date"
      class="uk-input"
      (change)="updateCompleteBy($event)"
    />
  </label>

  <button
    type="submit"
    class="uk-button uk-button-primary uk-margin-top"
    (click)="submitForm()"
  >
    {{ creating ? "Create" : "Update" }} Task
  </button>
</form>
