<table class="uk-table uk-table-striped uk-table-middle">
    <thead>
      <tr>
        <!-- We leave the first table header empty beacuse it is used for the checkbox -->
        <th></th>
        <th>Name</th>
        <th class="hide-in-mobile">Description</th>
        <th class="centered">Anti</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of models">
        <td>
          <input
            [checked]="model.IsCompletedToday"
            (change)="changeState.emit(model)"
            type="checkbox"
            class="uk-checkbox"
          />
        </td>

        <td>{{ model.Name }}</td>

        <td class="hide-in-mobile">
          <ng-container *ngIf="model.Description; else defaultDescription">
            <p class="description">
              {{ model.Description }}
            </p>
          </ng-container>
        </td>

        <td class="centered">
          <fa-icon [icon]="model.AntiHabit ? faCheck : faXmark"></fa-icon>
        </td>

        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button uk-button-small uk-button-default uk-margin-small-right"
          >View</a>
      </tr>
    </tbody>
  </table>

<ng-template #defaultDescription>
  <i>No description</i>
</ng-template>
