<h1>
  Task: {{ model?.Name }} ({{ model?.Completed ? "Completed" : "Incomplete" }})
</h1>

<button
  class="uk-button-secondary uk-button uk-margin-small-right uk-margin-small-top"
  [routerLink]="model?.EditUrl"
>
  Edit: {{ model?.Name }}
</button>
<button class="uk-button-danger uk-button uk-margin-small-top" [routerLink]="model?.DeleteUrl">
  Delete: {{ model?.Name }}
</button>

@if (model?.Description) {
  <pre class="uk-text-default">{{ model?.Description }}</pre>
}

<p>Importance: {{ model?.ImportanceHuman }}</p>

<p>Complete By: {{ model?.CompleteBy | date }}</p>

<p>
  Associated Goal:
  <a [routerLink]="goalModel?.ViewUrl">
    {{ goalModel?.Name }}
  </a>
</p>
