<h1>Habit: {{ model?.Name }}</h1>

<button
  class="uk-button-secondary uk-button uk-margin-small-right"
  [routerLink]="model?.EditUrl"
>
  Edit: {{ model?.Name }}
</button>
<button class="uk-button-danger uk-button" [routerLink]="model?.DeleteUrl">
  Delete: {{ model?.Name }}
</button>

<p>
  {{ model?.Description }}
</p>

<hr />

<p>
  Is Anti Habit:
  <fa-icon [icon]="model?.AntiHabit ? faCheck : faXmark"></fa-icon>
</p>

<p *ngIf="model?.IsQuantifiable">
  Completed Value: {{ model?.TimesCompletedToday }} / {{ model?.TargetValue }}
</p>

<p *ngIf="goalModel">
  Associated Goal:
  <a [routerLink]="goalModel.ViewUrl">
    {{ goalModel.Name }}
  </a>
</p>

<h2>Completed Dates</h2>

<ul>
  <li *ngFor="let date of recentCompletedDates">
    {{ date | date }}
  </li>
</ul>

<ng-container *ngIf="model">
  <app-calendar-heatmap
    [data]="model.FormattedCompletedDates ? model.FormattedCompletedDates : []"
  ></app-calendar-heatmap>
</ng-container>
