<h1>Logbook Entries</h1>

<section>
  <nav>
    <a routerLink="/logbook/new" class="uk-button uk-button-default"
      >New Entry</a
    >
  </nav>
</section>

<section>
  <table class="uk-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of logbooks">
        <td>{{ model.Name }}</td>
        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button-small uk-button-primary"
          >
            View
          </a>
          <br />
        </td>
      </tr>
    </tbody>
  </table>
</section>
