<div class="list-header">
  <h1>Logbook</h1>

  <section>
    <nav>
      <a routerLink="/logbook/new" class="uk-button uk-button-primary"
        >New Entry</a
      >
    </nav>
  </section>
</div>

<section>
  <table class="uk-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of logbooks">
        <td>
          <a [routerLink]="model.ViewUrl" class="uk-link uk-text-secondary">
            {{ model.Name }}
          </a>
        </td>

        <td>{{ model.CreatedAt | date }}</td>

        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button uk-button-small uk-button-default uk-margin-small-right"
          >
            View
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
