<div class="list-header">
  <h1>Goals</h1>

  <section>
    <nav>
      <a routerLink="/goals/new" class="uk-button uk-button-primary"
        >New Goal</a
      >
    </nav>
  </section>
</div>

<section>
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th class="hide-in-mobile">Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of goals">
        <td>
          <input
            [(ngModel)]="model.Completed"
            (change)="updateGoal(model)"
            type="checkbox"
            class="uk-checkbox"
          />
        </td>

        <td>
          <a [routerLink]="model.ViewUrl" class="uk-link uk-text-secondary">
            {{ model.Name }}
          </a>
        </td>

        <td class="hide-in-mobile">
          <ng-container *ngIf="model.Description; else defaultDescription">
            <p class="description">
              {{ model.Description }}
            </p>
          </ng-container>
        </td>

        <td>
          <a
            [routerLink]="model.ViewUrl"
            class="uk-button uk-button-small uk-button-default uk-margin-small-right"
            >View</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #defaultDescription>
  <i>No description provided.</i>
</ng-template>
