<nav class="uk-navbar-container navbar-container">
  <div class="uk-container navbar-container">
    <div class="uk-navbar-left">
      <strong class="uk-nav-primary hide-in-mobile">Goal Tracker</strong>

      <ul class="uk-navbar-nav">
        <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['uk-active']">
          <a routerLink="/" class="uk-link uk-navbar-item">Habits</a>
        </li>

        <li [routerLinkActive]="['uk-active']">
          <a routerLink="/goals" class="uk-link uk-navbar-item">Goals</a>
        </li>

        <li [routerLinkActive]="['uk-active']">
          <a routerLink="/tasks" class="uk-link uk-navbar-item">Tasks</a>
        </li>

        <li [routerLinkActive]="['uk-active']">
          <a routerLink="/logbook" class="uk-link uk-navbar-item">Logbook</a>
        </li>

        <li [routerLinkActive]="['uk-active']">
          <a routerLink="/schedule" class="uk-link uk-navbar-item">Schedule</a>
        </li>

        <li [routerLinkActive]="['uk-active']">
          <a routerLink="/about" class="uk-link uk-navbar-item hide-in-mobile">About</a>
        </li>
      </ul>

      <!-- TODO: Make this work in mobile -->
      <span class="authentication-navbar hide-in-mobile">
        <a routerLink="/login" class="uk-link-muted">Login</a>
        <a routerLink="/register" class="uk-link-muted uk-margin-left">Register</a>
      </span>
    </div>
  </div>
</nav>
