<nav class="uk-navbar-container">
  <div class="uk-container">
    <div class="uk-navbar-left">
      <strong class="uk-nav-primary">Goal Tracker</strong>

      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a
            routerLink="/"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Habits
          </a>
        </li>

        <li>
          <a
            routerLink="/goals"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Goals
          </a>
        </li>

        <li>
          <a
            routerLink="/tasks"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Tasks
          </a>
        </li>

        <li>
          <a
            routerLink="/schedule"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Schedule
          </a>
        </li>

        <li>
          <a
            routerLink="/logbook"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Logbook
          </a>
        </li>

        <li>
          <a
            routerLink="/help"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Help
          </a>
        </li>

        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            About
          </a>
        </li>

        <li>
          <a
            routerLink="/contact-us"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Contact Us
          </a>
        </li>

        <li>
          <a
            routerLink="/login"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Login
          </a>
        </li>

        <li>
          <a
            routerLink="/register"
            routerLinkActive="active"
            class="uk-link uk-navbar-item"
          >
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
