<h1>Register</h1>

<form action="">
    <label for="username-input" class="uk-form-label">Username</label>
    <input type="text" name="username-input" id="username-input" class="uk-input">

    <label for="username-input" class="uk-form-label">Email</label>
    <input type="email" name="username-input" id="username-input" class="uk-input">
    
    <label for="password-input" class="uk-form-label">Password</label>
    <input type="password" name="password-input" id="password-input" class="uk-input">

    <label for="password-input" class="uk-form-label">Confirm Password</label>
    <input type="password" name="password-input" id="password-input" class="uk-input">

    <button type="submit" class="uk-button uk-button-primary">
        Register
    </button>
</form>
