<nav class="uk-navbar-container">
  <div class="uk-container">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Habits</a></li>
        <li><a routerLink="/new" routerLinkActive="active" ariaCurrentWhenActive="page">New Habit</a></li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
        <li><a routerLink="/day" routerLinkActive="active" ariaCurrentWhenActive="page">Daily Tasks</a></li>
        <li><a routerLink="/tasks" routerLinkActive="active" ariaCurrentWhenActive="page">Tasks</a></li>
      </ul>
    </div>
  </div>
</nav>
