<p>update works!</p>

<form #ngForm action="">
  <label for="new-habit-input" class="uk-form-label">Habit Name</label>
  <input
    [(ngModel)]="model.Name"
    id="new-habit-input"
    name="new-habit-input"
    class="uk-input"
    type="text"
  />

  <label for="new-habit-description" class="uk-form-label">
    Habit Description
  </label>
  <textarea
    [(ngModel)]="model.Description"
    id="new-habit-description"
    name="new-habit-description"
    class="uk-textarea"
    rows="10"
  ></textarea>

  <input
    [(ngModel)]="model.AntiHabit"
    type="checkbox"
    name="anti-habit"
    id="anti-habit"
    class="uk-checkbox"
  />
  <label for="anti-habit" class="uk-form-label">Anti Habit</label>

  <div>
    <button
      (click)="submitForm()"
      type="submit"
      class="uk-button uk-button-secondary uk-margin-top"
    >
      Update Habit
    </button>
  </div>
</form>
